body {
  background: url(./wallpapers/nick-perez--2Ck_Sgzvmw-unsplash.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#searchDiv {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

#search {
  padding: 5px;
  border-radius: 10px;
  border-width: 0;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
}

#searchButton {
  border-width: 0;
  background-color: rgba(0, 0, 0, 0);
}

#searchBackground {
  background-color: rgb(255 255 255 / 50%);
  padding: 5vh;
  border-radius: 10px;
}

att {
  color: white;
}
