body {
  background-imgae: url(https://images.unsplash.com/photo-1496195532171-f57bc0565df4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}
#searchDiv {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

#search {
  padding: 5px;
  border-radius: 10px;
  border-width: 0;
  font-size: 20px;
}

#searchButton {
  border-width: 0;
  background-color: rgba(0, 0, 0, 0);
}

#searchBackground {
  background-color: rgb(0 0 0 / 25%);
  padding: 5vh;
  border-radius: 10px;
}
