body {
  background: url(./wallpapers/pawel-czerwinski-OYRByIyxAoQ-unsplash.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#searchDiv {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

#search {
  padding: 5px;
  border-radius: 10px;
  border-width: 0;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
}

#searchButton {
  border-width: 0;
  background-color: rgba(0, 0, 0, 0);
}

#searchBackground {
  background-color: rgb(255 255 255 / 50%);
  padding: 5vh;
  border-radius: 10px;
}

#att {
  color: black;
}

a#att {
  color: black;
}

#newsDiv {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), white);
  /* height: 1000px; */
  border-radius: 10px;
}
